<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laundry Website</title>

    <!-- Style Link -->
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    
    <!-- Navigation bar start -->

    <header>
        <a href="#" class="logo">Laundry</a>
        <ul class="nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">System</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </header>

    <!-- Navigation bar end -->

    <!-- Landing Page start -->

    <section class="home" id="home">
        <div class="content">
            <h2>Laundry Website</h2>
            <p>
                loradfasdf.<br>
                asdfasdfdsa
            </p>
            <a href="#" class="btn-1">Menu</a>
        </div>
    </section>

    <!-- Landing Page end -->

    <!-- About Section start -->

    <section class="about" id="about">
        <div class="container">

            <!-- About item start -->

            <div class="row">
                <div class="col50">
                    <div class="titleText">
                        <span>A</span>bout Us
                    </div>
                    <p>asdfsad</p>
                </div>
                <div class="col50">
                    <div class="imgBx">
                        <img src="../static/image/about.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col50">
                    <div class="titleText">
                        <span>A</span>bout Us
                    </div>
                    <p>asdfsad</p>
                </div>
                <div class="col50">
                    <div class="imgBx">
                        <img src="../static/image/about2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col50">
                    <div class="titleText">
                        <span>A</span>bout Us
                    </div>
                    <p>asdfsad</p>
                </div>
                <div class="col50">
                    <div class="imgBx">
                        <img src="../static/image/about3.jpg" alt="">
                    </div>
                </div>
            </div>

            <!-- About item end -->
        </div>
    </section>

    <!-- About Section end -->

    <!-- JS Link -->
    <script src="../static/js/script.js"></script>

</body>
</html>